.body {
    background-color: #4255D0;
  }
  
  .navbar {
    font-family: 'nunito';
    font-weight: 900;
    margin: auto;
    margin-top: 20px;
    align-items: center;
    display: flex;
    background-color: transparent;
    width: 1200px;
    height: 45px;
    justify-content: space-between;
  }
  
  .nav-menu ul{
    list-style-type: none;
    padding: 0;
    display: flex;
  }
  
  .nav-menu ul li{
    padding: 6px 10px 10px 0px;
  }
  
  .nav-menu ul li a{
    margin: auto;
    padding: 6px 20px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    opacity: 80%;
  }
  
  .nav-menu ul li a:hover{
    color: #EC9F44;
  }
  
  .logo{
    margin-bottom: auto;
    padding: 6px 20px;
  }
  
  .vector {
    position: absolute;
    left: 35.53%;
    right: 70.36%;
    top: 3.52%;
    bottom: 73.83%;
  }
  
  .vector img{
    height: 150px;
    opacity: 70%;
  }
  
  .pesawat{
    position: absolute;
    left: 13.75%;
    right: 79.79%;
    top: 77.64%;
    bottom: 11.82%;
  }
  
  .pesawat img{
    height: 100px;
    opacity: 70%;
  }

  .daftar{
    position: absolute;
    left: 100px;
    top: 130px;
  }

  .container {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f2f2f2;
}

/* styling label dan input */
label {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

/* membuat kolom menjadi lebar yang sama */
.col {
    flex: 1;
    margin: 0 10px;
}

/* membuat tombol menjadi center */
button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}