.body {
    background-color: #4255D0;
    height: 100vh;
  }
  
  .navbar {
    font-family: 'nunito';
    font-weight: 900;
    margin: auto;
    margin-top: 20px;
    align-items: center;
    display: flex;
    background-color: transparent;
    width: 1200px;
    height: 45px;
    justify-content: space-between;
  }
  
  .nav-menu ul{
    list-style-type: none;
    padding: 0;
    display: flex;
  }
  
  .nav-menu ul li{
    padding: 6px 10px 10px 0px;
  }
  
  .nav-menu ul li a{
    margin: auto;
    padding: 6px 20px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    opacity: 80%;
  }
  
  .nav-menu ul li a:hover{
    color: #F46B2F;
  }
  
  .logo{
    margin-bottom: auto;
    padding: 6px 20px;
  }
  
  .vector {
    position: absolute;
    left: 35.53%;
    right: 70.36%;
    top: 3.52%;
    bottom: 73.83%;
  }
  
  .vector img{
    height: 150px;
    opacity: 70%;
  }
  
  .pesawat{
    position: absolute;
    left: 13.75%;
    right: 79.79%;
    top: 77.64%;
    bottom: 11.82%;
  }
  
  .pesawat img{
    height: 100px;
    opacity: 70%;
  }
  
  .judul h1{
    font-family: 'Nunito';
    font-size: 38px;
    color: white;
    text-align: center;
    margin-top: 50px;
  }

  .judul p{
    font-family: 'nunito';
    font-size: 18px;
    color: white;
    text-align: center;
    line-height: 10px;
  }

  .grid{
    display: grid;
    grid-template-columns: repeat(3.1fr);
    gap: 85px;
    margin-top: 30px;
  }

  .card p{
    display: flex;
    font-family: 'Nunito';
    font-weight: 1000;
    color: white;
    margin: -10px 40px 0px 0px;
    left: 15px;
  
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width:  150px;
    border-radius: 25px;
    align-items: center;
    height: 100px;
 
  }
  
  .card:hover {
    box-shadow: 0 8px 20px 0 rgba(0,0,0,0.2);
  }

  .card-color1{
    background: linear-gradient(#E16546, rgba(225,101,70,0.6));
  }
  
  .card-color2{
    background: linear-gradient(#A787D0, rgba(167,135,208,0.4));
  }

  .card-color3{
    background: linear-gradient(#3E9ADA, rgba(97,170,220,0.3));
  }

  .card-color4{
    background: linear-gradient(#E7C65A, rgba(231,198,90,0.6));
  }

  .card-color5{
    background: linear-gradient(#6B698C, rgba(107,105,140,0.6));
  }

  .card-color6{
    background: linear-gradient(#75CCCA, rgba(117,204,202,0.6));
  }

  .card-color7{
    background: linear-gradient(#79C78B, rgba(121,199,139,0.6));
  }

  .card-color8{
    background: linear-gradient(#D99464, rgba(217,148,100,0.7));
  }
  
  
  

  footer {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    position: relative;
    left: 0;
    bottom: -40px;
    width: 100%;
    text-align: center;
  }
