.body {
  background-color: #4255D0;
}

.navbar {
  font-family: 'nunito';
  font-weight: 900;
  margin: auto;
  margin-top: 20px;
  align-items: center;
  display: flex;
  background-color: transparent;
  width: 1200px;
  height: 45px;
  justify-content: space-between;
}

.nav-menu ul{
  list-style-type: none;
  padding: 0;
  display: flex;
}

.nav-menu ul li{
  padding: 6px 10px 10px 0px;
}

.nav-menu ul li a{
  margin: auto;
  padding: 6px 20px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  opacity: 80%;
}

.nav-menu ul li a:hover{
  color: #EC9F44;
}

.logo{
  margin-bottom: auto;
  padding: 6px 20px;
}

.vector {
  position: absolute;
  left: 35.53%;
  right: 70.36%;
  top: 3.52%;
  bottom: 73.83%;
}

.vector img{
  height: 150px;
  opacity: 70%;
}

.pesawat{
  position: absolute;
  left: 13.75%;
  right: 79.79%;
  top: 77.64%;
  bottom: 11.82%;
}

.pesawat img{
  height: 100px;
  opacity: 70%;
}

.judul {
  position: absolute;
  width: 200px;
  height: 196px;
  left: 250px;
  top: 200px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 70px;
  display: flex;
  align-items: center;
  color: white;
}

.judul p{
  position: absolute;
  width: 350px;
  height: 105px;
  left: 5px;
  top: 150px;
  /* Text */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  /* or 125% */
  display: flex;
  align-items: center;
}

.money {
  position: absolute;
  width: 60px;
  height: 5600px;
  left: 750px;
  top: 120px;
  align-items: center;
}

.konten{
  display: flex;
  margin: auto;
  align-items: center;
}

.btn-daftar button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  width: 80px;
  height: 40px;
  left: 250px;
  top: 470px;
  background: #F46B2F;
  border-radius: 10px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  color: white;
  font opacity: 80%;
  border-style: none;
  }

  .btn-daftar button:hover{
    background-color: white;
    color: #F46B2F ;
  }

  .btn-masuk button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    width: 80px;
    height: 40px;
    left: 350px;
    top: 470px;
    background: #F46B2F;
    border-radius: 10px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    color: white;
    font opacity: 80%;
    border-style: none;
  }

  .btn-masuk button:hover{
    background-color: white;
    color: #F46B2F ;
  }