.body {
    background-color: #4255D0;
    height: 160vh;
  }
  
  .navbar {
      font-family: 'nunito';
      font-weight: 900;
      margin: auto;
      margin-top: 20px;
      align-items: center;
      display: flex;
      background-color: transparent;
      width: 1200px;
      height: 45px;
      justify-content: space-between;
    }
    
    .navbar ul{
      list-style-type: none;
      padding: 0;
      display: flex;
    }
  
    .navbar ul li{
      padding: 6px 10px 10px 0px;
      position: relative;
    }
    
    .navbar ul li a{
      display: block;
      margin: auto;
      padding: 6px 20px;
      text-decoration: none;
      font-size: 20px;
      color: white;
      opacity: 80%;
    }
    
    .navbar ul li a:hover{
      color: #F46B2F;
    }
    
   
    nav {
      background-color: #333;
      color: #fff;
      display: flex;
      justify-content: space-between;
    }
    
    nav ul {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
    }
    
    nav li {
      padding: 0 10px;
    }
    
    nav li a {
      color: #fff;
      display: block;
      padding: 10px;
      text-decoration: none;
    }
    
    nav li:hover {
      background-color: #555;
    }
    
    .btn-daftar { 
      height: 40px;
      background: #F46B2F;
      border-radius: 10px;
      font-family: 'Nunito';
      font-style: normal;
      font-weight: 900;
      font-size: 18px;
      color: white;
      font opacity: 80%;
      border-style: none;
      }
    
      .btn-daftar:hover{
        background-color: white;
        color: white;
      }
    
    .logo{
      margin-bottom: auto;
      padding: 6px 20px;
    }
    
    .vector {
      position: absolute;
      left: 35.53%;
      right: 70.36%;
      top: 3.52%;
      bottom: 73.83%;
    }
    
    .vector img{
      height: 150px;
      opacity: 70%;
    }
    
    .pesawat{
      position: absolute;
      left: 13.75%;
      right: 79.79%;
      top: 77.64%;
      bottom: 11.82%;
    }
    
    .pesawat img{
      height: 100px;
      opacity: 70%;
    }
    
    .judul h1{
      font-family: 'Nunito';
      font-size: 38px;
      color: white;
      text-align: center;
      margin-top: 50px;
    }
  
    .judul p{
      font-family: 'nunito';
      font-size: 18px;
      color: white;
      text-align: center;
      line-height: 10px;
    }
  
    footer {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: #FFFFFF;
        position: relative;
        left: 0;
        bottom: -20px;
        width: 100%;
        text-align: center;
      }
      